<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="{{ .Site.Params.Description }}">

		<title>vladh's microblog</title>

		{{ $style := resources.Get "main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
		<link rel="stylesheet" href="{{ $style.RelPermalink }}">
		<link rel="stylesheet" href="/css/syntax.css">

		{{ range .AlternativeOutputFormats -}}
			{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
		{{ end -}}

		{{ template "_internal/opengraph.html" . }}
	</head>

	<body>
		<header>
			<h1>
				<a href="{{ .Site.BaseURL | relLangURL }}">
					<div class="circle">⬤</div>
					{{ .Site.Title }}
				</a>
			</h1>
			<nav>
				<ul>
					<li><a href="https://vladh.net">↵ Back to vladh.net</a></li>
					<li><a href="/">All posts</a></li>
					<li><a href="/posts">Post index</a></li>
					<li><a href="/posts/hi">Explanation</a></li>
					<li><a href="/posts/index.xml">RSS</a></li>
				</ul>
			</nav>
		</header>
		<main>
			{{ block "main" . }}{{ end }}
		</main>
		<footer>
			(c) 2022 Vlad-Stefan Harbuz.
			Content is <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>.
			<a href="https://git.sr.ht/~vladh/microblog">Code</a> is <a href="https://opensource.org/licenses/MIT">MIT</a>.
		</footer>
	</body>
</html>
