<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="{{ .Site.Params.Description }}">

		<title>vladh's microblog</title>

		{{ $style := resources.Get "main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
		<link rel="stylesheet" href="{{ $style.RelPermalink }}">

		{{ range .AlternativeOutputFormats -}}
			{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
		{{ end -}}
	</head>

	<body>
		<header>
			<h1>
				<a href="{{ .Site.BaseURL | relLangURL }}">
					<div class="circle">⬤</div>
					{{ .Site.Title }}
				</a>
			</h1>
			<!--
			<nav class="navigation">
				<ul>
					{{ $pagePath := .RelPermalink }}
					{{ $pagePathSplit := split $pagePath "/" }}
					{{ $pageFirstPathPart := cond (eq $pagePath "/") "/" (print "/" (index $pagePathSplit 1) "/") }}
					{{ range .Site.Menus.main }}
						{{ $menuItemPath := .Page.RelPermalink }}
						<li class="navigation-item{{ if eq $pageFirstPathPart $menuItemPath }} navigation-item-active{{ end }}">
							<a href="{{ $menuItemPath }}">
								{{- .Title -}}
							</a>
						</li>
					{{ end }}
				</ul>
			</nav>
			-->
			<nav>
				<ul>
					<li><a href="https://vladh.net">Back to vladh.net</a></li>
					<li><a href="/index.xml">Subscribe to RSS</a></li>
				</ul>
			</nav>
		</header>
		<main>
			{{ block "main" . }}{{ end }}
		</main>
	</body>
</html>
