$font-family-headings: 'DIN Next LT Pro', 'Helvetica Neue', Helvetica, sans-serif;
$font-family-body: 'Independent', Georgia, serif;
$font-size-1: 14px;
$font-size-2: 17px;
$font-size-3: 20px;
$font-size-4: 24px;
$font-size-code: 15px;

@font-face {
	font-family: 'DIN Next LT Pro';
	font-weight: 200;
	src: url(/fonts/din/DINNextLTPro-Light.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-family: 'DIN Next LT Pro';
	font-weight: 400;
	src: url(/fonts/din/DINNextLTPro-Regular.woff) format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Independent';
	font-weight: 400;
	src: url(/fonts/independent/independent-regular.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-family: 'Independent';
	font-weight: bold;
	src: url(/fonts/independent/independent-bold.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-family: 'Independent';
	font-style: italic;
	src: url(/fonts/independent/independent-italic.woff) format('woff');
	font-display: swap;
}

* {
	box-sizing: border-box;
}

body {
	max-width: 900px;
	margin: 0 auto;
	padding: 2rem 1rem;
	font-family: $font-family-body;
	font-size: 14px;
}

p, pre, ul, li, time {
	font-size: $font-size-2;
	line-height: 1.7;
}

p, pre {
	margin: 0;
	margin-bottom: $font-size-3;
	&:last-child {
		margin-bottom: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-family-headings;
	font-weight: 400;
}

header {
	margin-bottom: 2rem;
	h1 {
		margin: 0;
		margin-bottom: 1rem;
		font-size: 2rem;
		a {
			display: block;
			text-decoration: none;
			color: #0055ee;
			.circle {
				padding-right: 0.5rem;
				display: inline-block;
			}
		}
	}
}

nav {
	font-family: $font-family-headings;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			margin-right: 2rem;
		}
	}
}

article {
	margin-bottom: 3rem;
	.article__head {
		margin-bottom: 1rem;
		h2 {
			margin: 0;
			margin-bottom: 0.5rem;
			font-size: $font-size-4;
		}
		ul {
			display: inline-block;
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
			}
		}
	}
}
