$color-main: #05e;
$color-paper: #f6f7fa;
$color-text: #111;
$color-white: #fefefe;
$color-vladh-12-primary: #67CC08;
$color-vladh-12-secondary: #F2C41F;
$color-vladh-bg: #312e3b;

$font-size-1: 14px;
$font-size-2: 17px;
$font-size-3: 20px;
$font-size-4: 24px;
$font-size-5: 30px;
$font-size-code: 15px;

$font-family-headings: 'DIN Next LT Pro', 'Helvetica Neue', Helvetica, sans-serif;
$font-family-body: 'Independent', Georgia, serif;

$image-size: 70px;
$image-size-sm: 50px;

@font-face {
	font-family: 'DIN Next LT Pro';
	font-weight: 200;
	src: url(/fonts/din/DINNextLTPro-Light.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-family: 'DIN Next LT Pro';
	font-weight: 400;
	src: url(/fonts/din/DINNextLTPro-Regular.woff) format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Independent';
	font-weight: 400;
	src: url(/fonts/independent/independent-regular.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-family: 'Independent';
	font-weight: bold;
	src: url(/fonts/independent/independent-bold.woff) format('woff');
	font-display: swap;
}
@font-face {
	font-family: 'Independent';
	font-style: italic;
	src: url(/fonts/independent/independent-italic.woff) format('woff');
	font-display: swap;
}

* {
	box-sizing: border-box;
}

body {
	max-width: 900px;
	margin: 0 auto;
	padding: 2rem 1rem;
	font-family: $font-family-body;
	font-size: 14px;
	font-size: $font-size-2;
	line-height: 1.5;
}

code {
	padding: 0.2rem;
	white-space: pre-wrap;
	background: #f2f2f2;
}

pre {
	padding: 0.5rem;
	white-space: pre-wrap;
	background: #f2f2f2;
	font-size: $font-size-1;
	code {
		padding: 0;
	}
}

a {
	color: $color-main;
	&:visited {
		color: #555;
	}
	&:hover {
		color: $color-main;
	}
}

p, pre, .highlight, figure {
	margin: 0;
	margin-bottom: $font-size-3;
	&:last-child {
		margin-bottom: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

small {
	font-size: $font-size-1;
}

figure {
	display: block;
	padding: 1rem 0;
	img {
		max-width: 100%;
	}
	figcaption {
		text-align: center;
		font-size: $font-size-1;
	}
}

header {
	margin-bottom: 1.5rem;
	h1 {
		margin: 0;
		margin-bottom: 0.5rem;
		font-size: $font-size-5;
		font-family: $font-family-headings;
		@media (max-width: 350px) {
			font-size: $font-size-4;
		}
		a, a:hover, a:visited {
			display: block;
			text-decoration: none;
			color: $color-main;
			.circle {
				padding-right: 0.5rem;
				display: inline-block;
			}
		}
	}
}

nav {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: inline-block;
			margin-right: 2rem;
			@media (max-width: 600px) {
				display: block;
			}
			a {
				padding: 0.3em 0.1em;
			}
			a, a:hover, a:visited {
				color: $color-main;
			}
			a:hover {
				background: $color-main;
				color: white;
			}
		}
	}
}

.postfeed {
	margin-bottom: 2rem;
}

.post {
	margin: 4rem 0;
	.post__head {
		display: flex;
		img {
			flex: 0 0 $image-size;
			display: block;
			width: $image-size;
			height: $image-size;
			margin-right: 1rem;
			@media (max-width: 600px) {
				flex: 0 0 $image-size-sm;
				width: $image-size-sm;
				height: $image-size-sm;
			}
		}
		.post__meta {
			display: flex;
			flex: 1;
			padding-bottom: 1rem;
			@media (max-width: 600px) {
				display: block;
			}
		}
		.post__meta1 {
			flex: 1 0;
			font-size: $font-size-2;
			h2 {
				margin: 0;
				margin-bottom: 0.4rem;
				font-size: $font-size-3;
				line-height: 1; /* sue me :P */
			}
			.post__name {
				font-family: $font-family-headings;
				strong {
					margin-right: 0.3rem;
				}
			}
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					display: inline-block;
				}
			}
		}
		.post__meta2 {
			flex: 1;
			text-align: right;
			@media (max-width: 600px) {
				margin-top: 0.2rem;
				font-size: $font-size-1;
				text-align: left;
			}
		}
	}
	.post__content {
		margin-left: calc(70px + 1rem);
		padding-top: 1rem;
		border-top: 1px dotted #aaa;
		@media (max-width: 600px) {
			margin-left: 0;
			padding-left: 0;
		}
		h2 {
			margin: 0;
			margin-bottom: 1rem;
			font-size: $font-size-2;
			font-weight: bold;
			a {
				text-decoration: none;
				color: $color-text;
			}
		}
		hr {
			border: none;
			margin: 2rem 0;
			&:before {
				display: block;
				content: '⁂';
				text-align: center;
			}
		}
		.footnotes hr {
			border-bottom: 1px solid #ddd;
			margin-top: 2rem;
			margin-bottom: 0;
			&:before {
				content: '';
			}
		}
	}
}

.postlist {
	h3 {
		font-size: $font-size-2;
	}
	time {
		display: inline-block;
		min-width: 6rem;
	}
}

footer {
	color: #666;
	margin: 4rem 0;
	text-align: center;
	font-size: $font-size-1;
}
