{{ if .Date }}
	<div class="post-metadata">
		{{ if .Date }}
		<p class="post-date-created">
			<time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
		</p>
		{{ end }}

		<ul class="post-category-list">
			{{ with .Param "tags" }}
				{{ range $index, $category := . }}
					{{- with $.Site.GetPage (printf "/tags/%s" ($category | urlize)) -}}
						<li class="post-category"><a href="{{ .Permalink }}">{{ $category }}</a></li>
					{{- end -}}
				{{ end }}
			{{ end }}
		</ul>
	</div>
{{ end }}
